/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue {
    color: #537fbe;
}

nav .navbar-brand .red {
    color: #ea433b;
}

nav .navbar-brand .yellow {
    color: #f5b82e;
}

nav .navbar-brand .green {
    color: #2e944b;
}

header {
    text-align: center;
    color: #084298;
    background-color: #cfe2ff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 30px;
    border-color: #b6d4fe;

    margin-bottom: 1rem;
    position: relative;
}

div {
    display: block;
}

.table {
    font-size: 20px;
}

h2 {
    color: #084298;
}