{% extends "layout.html" %}

{% block title %}
Buy
{% endblock %}

{% block main %}

<script src="code.js">


</script>
<h5>Buy shares of stock</h5>

<p>Your current cash is : {{cash}} </p>

<form action="/buy" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol"
            placeholder="Symbol" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares"
            placeholder="Shares" type="number">
    </div>
    
    <button class="btn btn-primary" type="submit">Buy</button>
</form>
{% endblock %}